@import 'tailwindcss';

/*activa el modo dark incluso si el navegador esta en light*/
@custom-variant dark (&:where(.dark, .dark *));

/* Configuraci칩n Tema*/
@theme {
  /* Colores */
  --color-primary: #137fec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --color-border-dark: #30363d;
  --color-card-dark: #1c2127;
  --color-state-asleep: #a855f7;
  --color-state-inbed: #f59e0b;
  --color-state-awake: #4ade80;
  --color-neutral-muted: #30363d;
  --color-glass-bg: rgba(28, 33, 39, 0.8);
  --color-glass-border: rgba(19, 127, 236, 0.15);

  /* Fuentes */
  --font-family-display: 'Manrope', sans-serif;

  /* Border radius */
  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;

  /* Modo oscuro - clase */
  --dark: initial;
}

/* Clase de utilidad para fuente */
.font-display {
  font-family: var(--font-family-display);
}
.pt-safe-top {
  @apply pt-[calc(4rem+env(safe-area-inset-top))] md:pt-0;
}
.pb-safe-sm {
  @apply pb-[calc(4rem+env(safe-area-inset-bottom))] md:pb-0;
}

/* Ocultar scrollbar pero mantener scroll */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

:root {
  background-color: var(--color-background-light);
}

:root.dark {
  background-color: var(--color-background-dark);
}
/* 1. Ancho del scroll */
::-webkit-scrollbar {
  width: 10px; /* Ancho para scroll vertical */
  height: 10px; /* Alto para scroll horizontal */
}

/* 2. El fondo (pista) por donde corre el scroll */
::-webkit-scrollbar-track {
  background: #0f172a; /* Color slate-950 de Tailwind */
  border-radius: 5px;
}

/* 3. La barra (lo que mueves con el rat칩n) */
::-webkit-scrollbar-thumb {
  background: #334155; /* Color slate-700 */
  border-radius: 10px;
  border: 2px solid #0f172a; /* Crea un efecto de padding */
}

/* 4. Cuando pasas el rat칩n por encima de la barra */
::-webkit-scrollbar-thumb:hover {
  background: #475569; /* Color slate-600 */
}

/* Soporte para Firefox (m치s limitado) */
* {
  scrollbar-width: thin;
  scrollbar-color: #334155 #0f172a;
}

/* https://vuejs.org/guide/built-ins/transition-group */
.list-enter-active,
.list-leave-active {
  transition: all 0.3s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(300px);
}
.list-move {
  transition: transform 0.3s ease;
}
