@import 'tailwindcss';

/* Configuración Tema*/
@theme {
  /* Colores */
  --color-primary: #137fec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --color-border-dark: #30363d;
  --color-card-dark: #1c2127;
  --color-sleep: #a855f7;
  --color-awake-bed: #f97316;
  --color-out-bed: #22c55e;

  /* Fuentes */
  --font-family-display: 'Manrope', sans-serif;

  /* Border radius */
  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;

  /* Modo oscuro - clase */
  --dark: initial;

}

/* Clase de utilidad para fuente */
.font-display {
  font-family: var(--font-family-display);
}

/* Clase de utilidad para Menu movil*/
.pb-safe-sm {
  @apply pb-[calc(4rem+env(safe-area-inset-bottom))] md:pb-0;
}

/* Ocultar scrollbar pero mantener scroll */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}


:root {
  background-color: var(--color-background-light);
}

:root.dark {
  background-color: var(--color-background-dark);
}

/* https://vuejs.org/guide/built-ins/transition-group */
.list-enter-active,
.list-leave-active {
  transition: all 0.3s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(300px);
}
.list-move {
  transition: transform 0.3s ease;
}
